* {
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: space-between;
}
.left-block {
	background: url("https://www.fonstola.ru/images/202004/fonstola.ru_381856.jpg")
	 no-repeat;
	 background-size: cover;
	 width: 500px;
	 height: 500px;
	 color: #fff;
}
.right-block {
	background: url("https://krasnodar.pannomd.ru/goods/or_6334.jpg") no-repeat;
	background-size: cover;
	width: 500px;
	height: 500px;
	color: #fff;
}

.left-block:hover  {
	border-radius: 50px;
	color: yellow;
	background: url("https://rare-gallery.com/uploads/posts/370598-4k-wallpaper.jpg") 
	no-repeat;
	background-size: cover;
	padding: 30px;
	height: auto;
	transition: 5s;
	box-shadow: -3px 4px 14px 8px green;
}

.right-block:hover {
	border-radius: 50px;
	color: yellow;
	background: url("https://cdn.fishki.net/upload/post/201409/17/1305473/1bba5443b6d702eeff41c486f42922a5.jpg")
	 no-repeat;
	 background-size: cover;
	padding: 30px;
	height: auto;
	transition: 5s;
	box-shadow: -3px 4px 14px 8px green;
}

.left-block:active  {
	border-radius: 50px;
	color: yellow;
	background: url("https://i.pinimg.com/originals/cb/ec/d3/cbecd3ef09c2fa8ae30c0ffddd7d29d3.jpg") 
	no-repeat;
	background-size: cover;
	padding: 30px;
	height: auto;
	transition: 5s;
}

.right-block:active {
	border-radius: 50px;
	color: yellow;
	background: url("https://mobimg.b-cdn.net/v3/fetch/53/538a7796f076316ec42b51080b201c72.jpeg")
	 no-repeat;
	background-size: cover;
	padding: 30px;
	height: auto;
	transition: 5s;
}
